/* line 28, /Users/oliver/development/oliverpitsch.github.io/source/stylesheets/variables.scss */
.facebook {
  color: #3b5a9a; }

/* line 31, /Users/oliver/development/oliverpitsch.github.io/source/stylesheets/variables.scss */
.twitter {
  color: #2cade7; }

/* line 34, /Users/oliver/development/oliverpitsch.github.io/source/stylesheets/variables.scss */
.dribbble {
  color: #ea4c89; }

/* line 37, /Users/oliver/development/oliverpitsch.github.io/source/stylesheets/variables.scss */
.linkedin {
  color: #0e76a8; }
