// Define Color Variables

$opi-yellow-700: #FFAA00;
$opi-yellow-600: #FFBF00;
$opi-yellow-500: #FFD500;

$opi-primary-200: #E6EEFF;
$opi-primary-400: #8DAEF0;
$opi-primary-500: #5C8AE6;
$opi-primary-600: #3B5EA5;
$opi-primary-700: #182B52;
